interactions:
- request:
    body: null
    headers: {}
    method: GET
    uri: https://x.com/i/api/graphql/MWY3AO9_I3rcP_L2A4FR4A/TweetResultByRestId?features=%7B%22responsive_web_graphql_exclude_directive_enabled%22%3Atrue%2C%22verified_phone_label_enabled%22%3Afalse%2C%22creator_subscriptions_tweet_preview_api_enabled%22%3Atrue%2C%22responsive_web_graphql_timeline_navigation_enabled%22%3Atrue%2C%22responsive_web_graphql_skip_user_profile_image_extensions_enabled%22%3Afalse%2C%22c9s_tweet_anatomy_moderator_badge_enabled%22%3Atrue%2C%22tweetypie_unmention_optimization_enabled%22%3Atrue%2C%22responsive_web_edit_tweet_api_enabled%22%3Atrue%2C%22graphql_is_translatable_rweb_tweet_is_translatable_enabled%22%3Atrue%2C%22view_counts_everywhere_api_enabled%22%3Atrue%2C%22longform_notetweets_consumption_enabled%22%3Atrue%2C%22responsive_web_twitter_article_tweet_consumption_enabled%22%3Atrue%2C%22tweet_awards_web_tipping_enabled%22%3Afalse%2C%22freedom_of_speech_not_reach_fetch_enabled%22%3Atrue%2C%22standardized_nudges_misinfo%22%3Atrue%2C%22tweet_with_visibility_results_prefer_gql_limited_actions_policy_enabled%22%3Atrue%2C%22rweb_video_timestamps_enabled%22%3Atrue%2C%22longform_notetweets_rich_text_read_enabled%22%3Atrue%2C%22longform_notetweets_inline_media_enabled%22%3Atrue%2C%22responsive_web_media_download_video_enabled%22%3Atrue%2C%22responsive_web_enhance_cards_enabled%22%3Afalse%7D&variables=%7B%22tweetId%22%3A%221927338030467002589%22%2C%22withCommunity%22%3Afalse%2C%22includePromotedContent%22%3Afalse%2C%22withVoice%22%3Afalse%7D
  response:
    body:
      string: "{\"data\":{\"tweetResult\":{\"result\":{\"__typename\":\"Tweet\",\"rest_id\":\"1927338030467002589\",\"core\":{\"user_results\":{\"result\":{\"__typename\":\"User\",\"id\":\"VXNlcjoxMzgxOTEzODkzODAzNDUwMzc0\",\"rest_id\":\"1381913893803450374\",\"affiliates_highlighted_label\":{},\"is_blue_verified\":true,\"profile_image_shape\":\"Circle\",\"legacy\":{\"created_at\":\"Tue
        Apr 13 10:15:34 +0000 2021\",\"default_profile\":true,\"default_profile_image\":false,\"description\":\"The
        go-to place for #helldivers2 players. Discover Gameplays, News,  leaks and
        more.Not\_affiliated\_with\_@helldivers2.\u2B06\uFE0F\u27A1\uFE0F\u2B07\uFE0F\u2B07\uFE0F\u2B07\uFE0F\",\"entities\":{\"description\":{\"urls\":[]}},\"fast_followers_count\":0,\"favourites_count\":2333,\"followers_count\":156067,\"friends_count\":11,\"has_custom_timelines\":false,\"is_translator\":false,\"listed_count\":145,\"location\":\"super
        earth\",\"media_count\":2370,\"name\":\"Helldivers Alerts\",\"normal_followers_count\":156067,\"pinned_tweet_ids_str\":[\"1924754181937889643\"],\"possibly_sensitive\":false,\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/1381913893803450374/1746711851\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/1759992427400835074/1qWUzaOq_normal.jpg\",\"profile_interstitial_type\":\"\",\"screen_name\":\"HelldiversAlert\",\"statuses_count\":3048,\"translator_type\":\"none\",\"verified\":false,\"withheld_in_countries\":[]},\"professional\":{\"rest_id\":\"1498567259367030785\",\"professional_type\":\"Creator\",\"category\":[]}}}},\"unmention_data\":{},\"edit_control\":{\"edit_tweet_ids\":[\"1927338030467002589\"],\"editable_until_msecs\":\"1748351769000\",\"is_edit_eligible\":true,\"edits_remaining\":\"5\"},\"is_translatable\":false,\"views\":{\"count\":\"185243\",\"state\":\"EnabledWithCount\"},\"source\":\"<a
        href=\\\"http://twitter.com/download/android\\\" rel=\\\"nofollow\\\">Twitter
        for Android</a>\",\"author_community_relationship\":{\"community_results\":{\"result\":{\"__typename\":\"Community\",\"id_str\":\"1766404796268093557\",\"name\":\"Helldivers
        2\",\"created_at\":1709978696304,\"question\":\"\",\"search_tags\":[],\"primary_community_topic\":{\"topic_id\":\"701\",\"topic_name\":\"Gaming\"},\"actions\":{\"delete_action_result\":{\"__typename\":\"CommunityDeleteActionUnavailable\",\"reason\":\"Unavailable\"},\"join_action_result\":{\"__typename\":\"CommunityJoinActionUnavailable\",\"reason\":\"Unavailable\",\"message\":\"Must
        be logged in.\"},\"leave_action_result\":{\"__typename\":\"CommunityLeaveActionUnavailable\",\"reason\":\"ViewerNotMember\",\"message\":\"Not
        a member.\"},\"pin_action_result\":{\"__typename\":\"CommunityTweetPinActionUnavailable\"}},\"admin_results\":{\"result\":{\"__typename\":\"User\",\"id\":\"VXNlcjoxMzgxOTEzODkzODAzNDUwMzc0\",\"rest_id\":\"1381913893803450374\",\"affiliates_highlighted_label\":{},\"is_blue_verified\":true,\"profile_image_shape\":\"Circle\",\"legacy\":{\"created_at\":\"Tue
        Apr 13 10:15:34 +0000 2021\",\"default_profile\":true,\"default_profile_image\":false,\"description\":\"The
        go-to place for #helldivers2 players. Discover Gameplays, News,  leaks and
        more.Not\_affiliated\_with\_@helldivers2.\u2B06\uFE0F\u27A1\uFE0F\u2B07\uFE0F\u2B07\uFE0F\u2B07\uFE0F\",\"entities\":{\"description\":{\"urls\":[]}},\"fast_followers_count\":0,\"favourites_count\":2333,\"followers_count\":156067,\"friends_count\":11,\"has_custom_timelines\":false,\"is_translator\":false,\"listed_count\":145,\"location\":\"super
        earth\",\"media_count\":2370,\"name\":\"Helldivers Alerts\",\"normal_followers_count\":156067,\"pinned_tweet_ids_str\":[\"1924754181937889643\"],\"possibly_sensitive\":false,\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/1381913893803450374/1746711851\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/1759992427400835074/1qWUzaOq_normal.jpg\",\"profile_interstitial_type\":\"\",\"screen_name\":\"HelldiversAlert\",\"statuses_count\":3048,\"translator_type\":\"none\",\"verified\":false,\"withheld_in_countries\":[]},\"professional\":{\"rest_id\":\"1498567259367030785\",\"professional_type\":\"Creator\",\"category\":[]}}},\"creator_results\":{\"result\":{\"__typename\":\"User\",\"id\":\"VXNlcjoxMzgxOTEzODkzODAzNDUwMzc0\",\"rest_id\":\"1381913893803450374\",\"affiliates_highlighted_label\":{},\"is_blue_verified\":true,\"profile_image_shape\":\"Circle\",\"legacy\":{\"created_at\":\"Tue
        Apr 13 10:15:34 +0000 2021\",\"default_profile\":true,\"default_profile_image\":false,\"description\":\"The
        go-to place for #helldivers2 players. Discover Gameplays, News,  leaks and
        more.Not\_affiliated\_with\_@helldivers2.\u2B06\uFE0F\u27A1\uFE0F\u2B07\uFE0F\u2B07\uFE0F\u2B07\uFE0F\",\"entities\":{\"description\":{\"urls\":[]}},\"fast_followers_count\":0,\"favourites_count\":2333,\"followers_count\":156067,\"friends_count\":11,\"has_custom_timelines\":false,\"is_translator\":false,\"listed_count\":145,\"location\":\"super
        earth\",\"media_count\":2370,\"name\":\"Helldivers Alerts\",\"normal_followers_count\":156067,\"pinned_tweet_ids_str\":[\"1924754181937889643\"],\"possibly_sensitive\":false,\"profile_banner_url\":\"https://pbs.twimg.com/profile_banners/1381913893803450374/1746711851\",\"profile_image_url_https\":\"https://pbs.twimg.com/profile_images/1759992427400835074/1qWUzaOq_normal.jpg\",\"profile_interstitial_type\":\"\",\"screen_name\":\"HelldiversAlert\",\"statuses_count\":3048,\"translator_type\":\"none\",\"verified\":false,\"withheld_in_countries\":[]},\"professional\":{\"rest_id\":\"1498567259367030785\",\"professional_type\":\"Creator\",\"category\":[]}}},\"invites_result\":{\"__typename\":\"CommunityInvitesUnavailable\",\"reason\":\"Unavailable\",\"message\":\"Must
        be logged in.\"},\"join_policy\":\"Open\",\"invites_policy\":\"MemberInvitesAllowed\",\"is_pinned\":false,\"members_facepile_results\":[{\"result\":{\"__typename\":\"User\",\"id\":\"VXNlcjoxMzgxOTEzODkzODAzNDUwMzc0\",\"rest_id\":\"1381913893803450374\",\"affiliates_highlighted_label\":{},\"is_blue_verified\":true,\"profile_image_shape\":\"Circle\",\"legacy\":{\"created_at\":\"Tue
        Apr 13 10:15:34 +0000 2021\",\"default_profile\":true,\"default_profile_image\":false,\"description\":\"The
        go-to place for #helldivers2 players. Discover Gameplays, News,  leaks and
        more.Not\_affiliated\_with\_@helldivers2.\u2B[...]
